<%= stylesheet_link_tag "css/users", :media => "all" %>

<header>

<div class="header">
	<div class="top-logo"><%= link_to image_tag('myportal_logo.png', class:'myportal-logo'), root_path, class:'a-logo' %></div>

</div>



</header>