<%= stylesheet_link_tag "css/mains-index", :media => "all" %>
<div class="main-background-container">
  <%= render 'users/header' %>

  <p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザー用ページです。</p>
<% else %>
<p>ログインしてください</p>
<% end %>




  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 twitter-box">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 facebook-box"></div>
    </div>


    <div class="row">
      <div class="rss-box"></div>
    </div>
  </div>






</div>