body {
	height: 100%;
	background-image: linear-gradient(-45deg, #000, #2a1c36);
}
.main-index-container{
	height: 100%;
	background-image: image-url('sakura1.png');
	background-size: contain;
}
.main-twitter-container{
}