// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	/*--users/_header-*/
	/*--header--*/
.a-logo {
	display: inline-block;
	height: 0px;
	width: 0px;
}
.header {
	background-color: #FFF;
	height: 100px;
	width: 100%;
	box-shadow: inset 0 -5px 5px -3px black, inset 0 2px 5px -2px; /*境界線ぼかし*/
}
.top-logo {
	height: 100px;
	width: 200px;
	margin: 0 50px;
}
.myportal-logo {
	height: 90px;
}
.logout {
	float: left;
}

	/*--users/top-*/
	/*--top page--*/
.top-main {
	background-image: image-url('main-image.jpg');
	max-height: 1000px;
	height: 100%;
	min-width: 1024px;
	width: 100%;
	background-size: cover;
	background-position: bottom;
}
	.top-container {
		padding: 10% 0 0 10%;
	}
		.top-title {
			color: #B1AFAC;
			font-size: 70px;
			padding-bottom: 20px;
		}
		 .top-text {
		 	color: #B1AFAC;
		 	font-size: 22px;
		 	padding: 5px 10px;
		 }
		.top-btn-container{
			width: 90%;
			margin: 0 auto;
			padding-top: 15px;
			opacity: 0.8;
		}
			.top-btn{
				margin-left: 20px;
			    display: inline-block;
			    position: relative;
			    text-decoration: none;
			    color: #f9a9ae;
			    width: 150px;
			    height: 50px;
			    line-height: 50px;
			    border-radius: 5px;
			    text-align: center;
			    vertical-align: middle;
			    overflow: hidden;
			    font-weight: bold;
			    background-image: -webkit-linear-gradient(#fed6e3 0%, #ffaaaa 100%);
			    background-image: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
			    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
			}
			.top-btn:active{
			    -ms-transform: translateY(2px);
			    -webkit-transform: translateY(2px);
			    transform: translateY(2px);/*沈むように*/
			    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
			    background-image: -webkit-linear-gradient(#fed6e3 0%, #ffbcbc 100%);
			    background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
			}
			a:hover {
			text-decoration: none;
			}
